*,
*::before
*::after {
    box-sizing: border-box;
}
header{
   
    justify-content: space-between;
    
}

.nav{
    background-color: chartreuse;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 75px;
    position: absolute;
    left: 50%;
    
    top: 5%;
    transform: translateY(-45%);
    z-index: 999;
    
}

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-items{
    display: inline-flex;
    align-items:center;
    margin: 0 iem;
    padding: 2px;
    background-color: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}

.nav li:hover{
    background-color: grey;
    padding-top: -1em;
    padding-bottom: -1em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}