body {
    font-family: 'Montserrat';
    font-weight: 500;
}

.navbar {
    background-color: #E6F9DE;
    margin: 20px;
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;
    align-items: right;
}

.navbar-logo {
    background-color: #D0E2C8;
    padding: 5px 10px 5px 20px;
    border-radius: 5px;
    width:120%;
}

.item {
    background-color: #D0E2C8;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    text-align: center;
}

.hr{
    width: 50%;
    margin-left: 25%;
    margin-right: 25% ;
    border: 1px solid #E6F9DE;

}
.hr2{
    width: 50%;
    border: 1px solid #E6F9DE;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}
.hr-skills{
    width: 75%;
    border: 1px solid #343F4B;
   
    margin-top: 25%;
}

.hero {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hero-image {
    background-image: url(/assets/images/PF_BW.png);
    width: 250px;
    height: 250px;
    border-radius: 15px;

    background-size: cover;
}

.hero-content {
    margin-top:auto;
    margin-bottom: auto;
}

.hero-text {
    font-size: 32px;
    font-weight: bold;
    color: #47525E;
}

.hero-subtext {
    font-size: 28px;
    margin-top: 10px;
    color: #47525E;
    font-weight: normal;
}
.skills-container{
    text-align: center;
}
.skills-text {
    font-size: 32px;
    font-weight: bold;
    color: #47525E;
}

.skills-subtext {
    font-size: 28px;
    margin-top: 10px;
    font-weight: normal;
    color: #47525E;
}
.text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width: 35%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}

.text-container2{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size:18px;

}
.text-container3{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size:18px;

}
.skills-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}
.skills-sub-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}
.defense-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    height: 500px;
    margin-right: 24px;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}
.kapper-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    height: 500px;
    margin-right: 24px;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}
.portfolio-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    height: 500px;
    
    margin-right: 24px;
    margin-top: 40px;
    text-align: center;
    font-size:18px;
}
.city-builder-text-container{
    background-color: #E6F9DE;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    height: 200px;
    margin-top: 40px;
    margin-left: 26.5%;
    text-align: center;
    font-size:18px;
}
.project-box-container{
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}
.divider{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    place-items: center;
}

.divider-right{
    background-image: url(/assets/images/werklogo.png);
    background-repeat: no-repeat;
    width:400px;
    height:400px;
    background-size: cover;
}
.projects-container{
    text-align: center;
}
.projects-text{
    font-size: 32px;
    font-weight: bold;
    color: #47525E;
    margin-top: 20px;
}
.projects-subtext{
    font-size: 28px;
    margin-top: 10px;
    font-weight: normal;
    color: #47525E;
}

/* .arrow-right{
    position: relative;
    top:30px;
    left:400px;
    background-image: url(/assets/images/arrow-right.png);
   background-size: cover;
    width: 100px;
    height: 100px;
    
} */